/Users/rangel/Documents/processing/QuaseCinemaFeijoada/.DS_Store/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/application.macosx/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/bkps/
/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/code/
/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/data/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/QuaseCinemaFeijoada01.app