/Users/rangel/Documents/processing/QuaseCinemaFeijoada/.DS_Store/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/application.macosx/
/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/data/Users/rangel/Documents/processing/QuaseCinemaFeijoada/QuaseCinemaFeijoada001/QuaseCinemaFeijoada01.app
.DS_Store
QuaseCinemaFeijoada001/data/_audio/10 - domingo no parque.mp3
QuaseCinemaFeijoada001/data/_audio/Komka @ 5uinto 196.mp3
QuaseCinemaFeijoada001/.DS_Store
